/*define button gradient's initial state; and z-index = 1 to make it overlap with ::before and final gradient's state*/
.gradient {
    position: relative;
    background-image: linear-gradient(
      to right,
      hsl(263, 79.2%, 66.1%),
      hsl(322, 79.2%, 66.1%)
    );
    z-index: 1;
  }
  /*Define the gradient's final state; set ::before element position as absolute and set top, right, bottom, and left = 0; Set z-index = -1; this will overlap both gradients states into the button.*/
  .gradient::before {
    color: antiquewhite;
    position: absolute;
/* set content as an empty string; this will append the final gradient's state element into the button container*/
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to left,
      hsl(219, 71.2%, 66.1%),
      rgb(108, 100, 255)
    );
    z-index: -1;
 /*Declare a transition using the opacity property to make a fade transition between gradients*/
    transition: opacity 0.85s linear;
    opacity: 0;
  }
  /* Declare the final opacity on hover for before element to display the desired gradient's final state.*/
  .gradient:hover::before {
    opacity: 1;
  }
  .gradient:hover{
    color: whitesmoke;
    transition: 1.5s;
  }

/*BONUS*/
/* set position to relative and justify content*/
.caption {
  position: relative;
  overflow:hidden;
  justify-content: left;
}
/* move conatiner up on hover */
.caption:hover .caption-overlay {
  transform: translateY(15%);
}

/* set the h1 element to be visible always */
.caption h1 {
  text-align: left;
  padding-bottom: 40px;
  margin: 0;
  transform: translateY(calc(-100% - 5px));
  transition: transform 1.5s ease-in-out;
  font-family: 'Audiowide', cursive;
 }
 
/* set ::before element transparent on an empty string positon absolute; left, right, top, bottom = 0.*/
.caption::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* allow background to darken for better text visibility */
.caption:hover::before {
  background: rgba(0, 0, 0, .2);
}

/* image size and transition*/
.caption img {
  width: 100%;
  height: auto;
  transition: 1.5s ease-in-out;
  z-index: -1;
  position: relative;
}
/*set caption overlay translate to the bottom set transition*/
.caption-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  color: white;
  transform: translateY(100%);
  transition: transform 1.5s ease-in-out;
}

/* move the h1 on hover as well */
.caption:hover h1 {
  transform: translateY(0);
}
